<!DOCTYPE html>
<html>
  <head>
    <title>PayrollManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&family=Old+Standard+TT:wght@700&family=Pacifico:wght@600&family=Orbitron:wght@600&family=Poppins:wght@600&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Ultra&display=swap" rel="stylesheet" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="">
    <main class="h-screen bg-day-primary dark:bg-night-primary p-0 m-0 box-border">
      <div id="mymodal" class="absolute top-0 left-0 w-full h-full hidden z-20" data-controller="hello">
          <%
=begin%>
 <div class="absolute top-1/2 left-1/2 w-200 bg-white rounded-md p-4 flex flex-col self-center z-30 -translate-x-1/2 -translate-y-1/2">
              <h2>This is my modal</h2>
          </div> 
<%
=end%>
          <div class="tooltip hidden" id="tooltip">
            <h2>This is my tooltip</h2>
            <div class="flex items-end justify-between">
              <div class="">
                <button class="p-2" data-action="click->hello#close">close</button>
              </div>
              <div class="">
                <button class="p-2" data-action="click->hello#prevStep">Prev</button>
                <button class="p-2" data-action="click->hello#nextStep">Next</button>
              </div>
            </div>
          </div>
          <div class="spotlight" id="spotlight"></div>
      </div>
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/sidebar" %>
      <div class="pt-12 md:pt-0 md:ml-60 h-full bg-day-primary dark:bg-night-secondary z-0 font-inter box-border">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
